h1 {
  position: absolute;
  display: inline-block;
  top: 30vh;
  left: 47vw;
  background-color: #5c9ead;
  font-size: 7em;
  padding: 2%;
  border-radius: 10%;
}

body {
  background-color: #326273;
}
